name: "CI"

on:
  pull_request:
    branches:
      - "*"
  push:
    branches:
      - "main"

jobs:
  test:
    runs-on: "ubuntu-22.04"

    steps:
      - uses: "actions/checkout@v2"

      - name: Install CI dependencies
        uses: stateful/runme-action@v2
        with:
          workflows: ci.install-deps

      - name: Cleanup
        run: |
          # Remove volumes in CI to avoid permission errors due to UID / GID.
          sed -i "s|.:/app|/tmp:/tmp|g" .env*
          sed -i "s|.:/app|/tmp:/tmp|g" docker-compose.yml
      
      - name: Setup
        uses: stateful/runme-action@v2
        with:
          workflows: ci.build

      - name: Test
        uses: stateful/runme-action@v2
        with:
          workflows: |
            db.init
            test
